<!DOCTYPE html>
<html lang="en">


<head th:replace="layout/head :: head">
</head>

<body>
  <div class="loader"></div>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
     
      <nav th:replace="layout/navbar :: navbar">
       
      </nav>

      <div th:replace="layout/sidebar :: sidebar">
     
      </div>

      <!-- Main Content -->
      <div class="main-content">
        <section class="section">

          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h4>Búsqueda de Documento</h4>
                </div>
                <div class="card-body">
                  <ul class="nav nav-pills" id="myTab3" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="home-tab3" data-toggle="tab" href="#home3" role="tab"
                        aria-controls="home" aria-selected="true">Recepción Externa</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="profile-tab3" data-toggle="tab" href="#profile3" role="tab"
                        aria-controls="profile" aria-selected="false">Recepción Interna</a>
                    </li>
                 
                  </ul>
                  <br>
                  <div class="tab-content" id="myTabContent2">
                    <div class="tab-pane fade show active" id="home3" role="tabpanel" aria-labelledby="home-tab3">
                      <form th:action="@{/formularioDocumento}" id="form1"  method="post">
                        <div class="row mb-12">
                        <div class="col-2 ">
                          <label>Hoja de Ruta</label>
                          <div class="input-group">
                              <input type="text" id="nroRuta" name="nroRuta" class="form-control" placeholder="Ingrese Numero de Hoja de Ruta">
                          </div>
                      </div>

                      <div class="col-2 ">
                        <div class="form-group">
                            <label>Gestión</label>
                            <select class="form-control select2" style="width: 100%;" name="year" id="year">
                                <option value="" selected >Seleccione...</option>
                                <option th:each="y : ${years}" th:text="${y}" th:value="${y}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-4 ">
                      <div class="form-group">
                          <label>Unidad</label>
                          <select class="form-control select2" style="width: 100%;" name="id_unidad" id="id_unidad">
                              <option value="" selected >Seleccione...</option>
                              <option th:each="u : ${unidades}" th:text="${u.nombre}" th:value="${u.id_unidad}"></option>
                          </select>
                      </div>
                  </div>
                  
                  </div>
                  <br>
                  <div class="input-group-append">
                      <button class="btn btn-primary" >Buscar</button>
                  </div>
                      </form>
                    </div>
                    <div class="tab-pane fade" id="profile3" role="tabpanel" aria-labelledby="profile-tab3">
                      <form th:action="@{/formularioDocumento}" id="form1"  method="post">
                        <div class="row mb-12">
                        <div class="col-2 ">
                          <label>Hoja de Ruta</label>
                          <div class="input-group">
                              <input type="text" id="nroRuta" name="nroRuta" class="form-control" placeholder="Ingrese Numero de Hoja de Ruta">
                          </div>
                      </div>

                      <div class="col-2 ">
                        <div class="form-group">
                            <label>Gestión</label>
                            <select class="form-control select2" style="width: 100%;" name="year" id="year">
                                <option value="" selected >Seleccione...</option>
                                <option th:each="y : ${years}" th:text="${y}" th:value="${y}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-4 ">
                      <div class="form-group">
                          <label>Unidad</label>
                          <select class="form-control select2" style="width: 100%;" name="id_unidad" id="id_unidad">
                              <option value="" selected >Seleccione...</option>
                              <option th:each="u : ${unidades}" th:text="${u.nombre}" th:value="${u.id_unidad}"></option>
                          </select>
                      </div>
                  </div>

                  <div class="col-4 ">
                    <div class="form-group">
                        <label>Persona</label>
                        <select class="form-control select2" style="width: 100%;" name="id_usuario" id="id_usuario">
                            <option value="" selected >Seleccione una Persona...</option>
                            
                        </select>
                    </div>
                </div>
                  
                  </div>
                  <br>
                  <div class="input-group-append">
                      <button class="btn btn-primary" >Buscar</button>
                  </div>
                      </form>
                    </div>
                  </div>
                     
              </div>
            </div>
          </div>
         
        </section>
      </div>

      <footer th:replace="layout/footer :: footer">
      </footer>


    </div>
  </div>

  <div id="formulario"></div>
 
  <div class="modal fade modal-documento" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" id="contenidoFormularioModal">

      </div>
    </div>
  </div>
  <div th:replace="layout/script :: script">
  </div>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <script>
   $(document).ready(function () {
     $('#form1').submit(function (event) {
       event.preventDefault();
       var form = document.getElementById("form1");
       var formData = $(this).serialize();
 
       $.ajax({
         type: 'POST',
         url: $(this).attr('action'),
         data: formData,
         contentType: 'application/x-www-form-urlencoded',
         success: function (response, status, xhr) {
           if (xhr.status === 204) {
            
               Swal.fire({
                       title: 'No se encontró documento con los parámetros proporcionado.',
                       icon: "warning",
                       showConfirmButton: false,
                       timer: 2000
                   });
           } else {
             $("#formulario").html(response);
              // Activar el modal
              $('#resultadoModal').modal('show');

              // Inicializar Select2 en el modal
             $('.select2').select2({
                 dropdownParent: $('#resultadoModal')  // Especificar el parent para el dropdown
                });
           }
         },
         error: function (xhr, status, error) {
           toastr.error('Ha ocurrido un error. Por favor, intenta nuevamente.' + xhr, status, error);
           console.error(error);
         }
       });
     });
   });

   function verDocumento(id) {
    $('#contenidoFormularioModal').html(
      `<!-- Modal Header -->
<div class="modal-header">
    <h5 class="modal-title" id="myLargeModalLabel">Visualización de Documento</h5>
    <a type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </a>
</div>
<div class="modal-body">
    <embed src="/documento/verDocumento/${id}" type="application/pdf" frameborder="0" style="height: 600px; width: 100%;"></embed>
</div>
`);
  }

  
 </script>


 
</body>


</html>