<!DOCTYPE html>
<html lang="en">


<head th:replace="layout/head :: head">
</head>

<body>
  <div class="loader"></div>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">

      <nav th:replace="layout/navbar :: navbar">

      </nav>

      <div th:replace="layout/sidebar :: sidebar">

      </div>

      <!-- Main Content -->
      <div class="main-content">
        <section class="section">

          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h4>Búsqueda de Documento</h4>
                </div>
                <div class="card-body">
                  <ul class="nav nav-pills" id="myTab3" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="home-tab3" data-toggle="tab" href="#externa" role="tab"
                        aria-controls="home" aria-selected="true">Recepción Interna</a>
                    </li>
                    <!-- <li class="nav-item">
                      <a class="nav-link" id="profile-tab3" data-toggle="tab" href="#profile3" role="tab"
                        aria-controls="profile" aria-selected="false">Recepción Externa</a>
                    </li> -->

                  </ul>
                  <br>
                  <div class="tab-content" id="myTabContent2">
                    <div class="tab-pane fade show active" id="externa" role="tabpanel" aria-labelledby="home-tab3">
                      <!-- <form th:action="@{/formularioDocumento}" id="form1" method="post">
                        <div class="row mb-12">
                          <div class="col-2 ">
                            <label>Hoja de Ruta</label>
                            <div class="input-group">
                              <input type="text" id="nroRuta" name="nroRuta" class="form-control"
                                placeholder="Ingrese Numero de Hoja de Ruta">
                            </div>
                          </div>

                          <div class="col-2 ">
                            <div class="form-group">
                              <label>Gestión</label>
                              <select class="form-control select2" style="width: 100%;" name="year" id="year">
                                <option value="" selected>Seleccione...</option>
                                <option th:each="y : ${years}" th:text="${y}" th:value="${y}"></option>
                              </select>
                            </div>
                          </div>
                          <div class="col-4 ">
                            <div class="form-group">
                              <label>Unidad</label>
                              <select class="form-control select2" style="width: 100%;" name="id_unidad" id="id_unidad">
                                <option value="" selected>Seleccione...</option>
                                <option th:each="u : ${unidades}" th:text="${u.nombre}" th:value="${u.id_unidad}">
                                </option>
                              </select>
                            </div>
                          </div>

                        </div>
                        <br>
                        <div class="input-group-append">
                          <button class="btn btn-primary">Buscar</button>
                        </div>
                      </form> -->
                    </div>
                    <div class="tab-pane fade" id="profile3" role="tabpanel" aria-labelledby="profile-tab3">
                      <form th:action="@{/formularioDocumento}" id="form1" method="post">
                        <div class="row mb-12">
                          <div class="col-2 ">
                            <label>Cite</label>
                            <div class="input-group">
                              <input type="text" id="cite" name="cite" class="form-control"
                                placeholder="Ingrese Numero de Cite">
                            </div>
                          </div>

                          <div class="col-2 ">
                            <div class="form-group">
                              <label>Gestión</label>
                              <select class="form-control select2" style="width: 100%;" name="year" id="year">
                                <option value="" selected>Seleccione...</option>
                                <option th:each="y : ${years}" th:text="${y}" th:value="${y}"></option>
                              </select>
                            </div>
                          </div>
                          <div class="col-4 ">
                            <div class="form-group">
                              <label>Unidad</label>
                              <select class="form-control select2" style="width: 100%;" name="id_unidad" id="id_unidad2"
                                onchange="cargarSelectUsuario()">
                                <option value="" selected>Seleccione...</option>
                                <option th:each="u : ${unidades}" th:text="${u.nombre}" th:value="${u.id_unidad}">
                                </option>
                              </select>
                            </div>
                          </div>

                          <div class="col-4 ">
                            <div class="form-group">
                              <label>Persona</label>
                              <select class="form-control select2" style="width: 100%;" name="id_usuario"
                                id="selectUsuarios">
                                <option value="" selected>Seleccione una Persona...</option>

                              </select>
                            </div>
                          </div>

                        </div>
                        <br>
                        <div class="input-group-append">
                          <button class="btn btn-primary">Buscar</button>
                        </div>
                      </form>
                    </div>
                  </div>

                </div>
              </div>
            </div>

        </section>
      </div>

      <footer th:replace="layout/footer :: footer">
      </footer>


    </div>
  </div>

  <div id="formulario"></div>

  <div class="modal fade modal-documento" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" id="contenidoFormularioModal">

      </div>
    </div>
  </div>

   <!-- INICIO MODAL SOLICITUDES -->
   <div class="modal fade " id="exampleModalCenter2" tabindex="-1" role="dialog"
   aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
   <div class="modal-dialog " role="document" style="max-width: 80%; width: 1200px;">
     <div class="modal-content">
       <div class="modal-header" style="background-color: #007bff; color: white;">
         <h5 class="modal-title" id="exampleModalCenterTitle">Lista de solicitudes de Recepción de Hoja de Ruta
         </h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="card">
 
         <div class="card-body">
           <div class="table-responsive">
             <table class="table table-hover" id="table-1">
 
               <thead>
                 <tr>
                   <th class="text-center">#</th>
                   <th>Nro. Hoja Ruta</th>
                   <th>Emisor</th>
                   <th>Referecia</th>
                   <th>Fecha Registro</th>
                   <th>Acciones</th>
                 </tr>
               </thead>
               <tbody>
 
                
 
                 <tr th:each="mds, rowStat: ${movimientoDocumentosSolicitados}">
                   <td th:text="${rowStat.count}"></td>
                   <td
                     th:text="${mds.unidadOrigen.sigla}+'-'+${mds.hojaRuta.nroRuta}+'/'+${#dates.format(mds.hojaRuta.fechaCreacion, 'yyyy')}">
                   </td>
                   <td th:text="${mds.unidadDestino.nombre}"></td>
                   <td th:text="${mds.hojaRuta.ref}"></td>
                   <td th:text="${#dates.format(mds.hojaRuta.fechaCreacion, 'dd/MM/yyyy hh:mm a')}"></td>
                   <td>
                     <center>
                       <a href="#" class="btn btn-icon icon-left btn-success" data-toggle="modal"
                         data-target="#resultadoModal" th:data-id-hoja-ruta="${mds.hojaRuta.id_hoja_ruta}"
                         th:data-id-movimiento-documento="${mds.id_movimiento_documento}">
                         <i class="far fa-share-square"></i>Recepcionar
                       </a>
                     </center>
 
 
                   </td>
                 </tr>
 
               </tbody>
             </table>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
 
 </div>
  <div th:replace="layout/script :: script">
  </div>

  <!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> -->

  <script>
    cargarCamposBusqueda();

    function verDocumento(id) {
      $('#contenidoFormularioModal').html(
        `<!-- Modal Header -->
<div class="modal-header">
    <h5 class="modal-title" id="myLargeModalLabel">Visualización de Documento</h5>
    <a type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </a>
</div>
<div class="modal-body">
    <embed src="/verDocumentoHojaRuta/${id}" type="application/pdf" frameborder="0" style="height: 600px; width: 100%;"></embed>
</div>
`);
    }

    function cargarCamposBusqueda() {
      $.ajax({
        type: 'POST',
        url: "/cargarFormularioBusquedaExterna",  // Ruta del metodo del controlador en Spring Boot
        success: function (response) {
          $("#externa").html(response);  // Actualiza el contenido del div con la respuesta del servidor
        }
      });
    }


    function cargarSelectUsuario() {
      $.ajax({
        type: 'POST',
        url: "/cargarSelectUsuarios/" + $('#id_unidad2').val(),  // Ruta del método del controlador en Spring Boot
        success: function (response) {
          // 'response' es una lista de arrays de cadenas
          //console.log('Lista de usuarios:', response);

          // Obtener el elemento <select> con id "selectUsuarios"
          const selectUsuarios = $('#selectUsuarios');
          selectUsuarios.empty();  // Limpiar las opciones existentes

          // Iterar sobre cada array en la respuesta
          response.forEach(user => {
            // user es un array de dos elementos: [id, nombreCompleto]
            const option = $('<option></option>')
              .val(user[0])  // El valor del option es el ID del usuario
              .text(user[1]);  // El texto del option es el nombre completo del usuario

            // Agregar la opción al <select>
            selectUsuarios.append(option);
          });
        },
        error: function (xhr, status, error) {
          console.error('Hubo un problema con la solicitud AJAX:', status, error);
        }
      });
    }


  </script>
 


</body>


</html>