<!-- Modal Header -->
<div class="modal-header">
    <h5 class="modal-title" id="myLargeModalLabel">Formulario Registro</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="botonCerrarModalUsuario">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<!-- Formulario -->
<form class="needs-validation" th:action="${edit}? @{/usuario/modificar}: @{/usuario/registrar}"
    id="formularioModalUsuario" enctype="multipart/form-data" method="POST" novalidate>

    <div class="modal-body">
        <th:block th:if="${edit != null}">
            <input type="hidden" th:field="${usuario.id_usuario}">
        </th:block>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Nombre de Usuario</label>
                <input type="text" class="form-control" required="" th:field="${usuario.usuario_nom}">
                <div class="invalid-feedback">
                    Tiene que introducir un nombre de usuario
                </div>
            </div>
            <div class="form-group col-md-6">
                <label>Contraseña</label>
                <input type="text" class="form-control" required="" th:field="${usuario.contrasena}" id="contrasena">
                <div class="invalid-feedback">
                    Tiene que introducir una contraseña
                </div>
                <div id="alertaValidacionNroRuta"></div>
            </div>
            <div class="form-group col-md-6">
                <label>Persona</label>
                <select class="form-control select2" style="width: 100%" th:field="${usuario.persona}" required>
                    <option value="">Seleccionar una Persona...</option>
                    <option th:each="per : ${personas}" th:value="${per.id_persona}" th:if="${per.estado != 'X'}"
                    th:text="${per.nombre} +' '+ ${per.ap_paterno} +' '+ ${per.ap_materno}">
                  </option>
                  </select>
                <div class="invalid-feedback">
                    Seleccione la Persona
                </div>
            </div>
            <div class="form-group col-md-6">
                <label>Unidad</label>
                <select class="form-control select2" style="width: 100%" th:field="${usuario.unidad}" required>
                    <option value="">Seleccionar una Unidad...</option>
                    <option th:each="uni : ${unidades}" th:value="${uni.id_unidad}" th:if="${uni.estado != 'X'}"
                    th:text="${uni.nombre}">
                  </option>
                  </select>
                <div class="invalid-feedback">
                   Seleccione la unidad
                </div>
            </div>
            <div class="form-group col-md-4">
                <label>Rol</label>
                <select class="form-control select2" style="width: 100%" th:field="${usuario.estado}" required>
                    <option value="">Seleccionar un Rol...</option>
                    <option value="P"> Pendiente</option>
                    <option value="A"> Activo</option>
                    <option value="S"> Admin</option>
                  </select>
                <div class="invalid-feedback">
                    Introduzca el asunto del documento
                </div>
            </div>


        </div>
       
        
        <br>
   
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" th:text="${edit}? 'Guardar Cambios': 'Guardar'"
            id="botonEnviar">Guardar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
    </div>
</form>

<script>

    $(document).ready(function () {
        $('.select2').select2();
        $('#formularioModalUsuario').on('submit', function (event) {
            event.preventDefault(); // Previene el envío del formulario

            //Verifica la validez del formulario
            if (this.checkValidity() === false) {
                $(this).addClass('was-validated');
                return;
            }

            var form = $(this)[0];
            var formData = new FormData(form);

            $.ajax({
                type: 'POST',
                url: $(this).attr('action'),
                data: formData,
                contentType: false,  // No establecer el tipo de contenido aquí
                processData: false,  // No procesar los datos
                success: function (response) {
                    if (response === "Registrado" || response === "Modificado") {
                        Swal.fire(
                            'Registrado!',
                            response,
                            'success'
                        );
                        $('#botonCerrarModalUsuario').click();
                        cargarTabla();
                    } else {
                        Swal.fire(
                            'Imposible Registrar!',
                            response,
                            'error'
                        );
                    }
                },
                error: function (xhr, status, error) {
                    Swal.fire(
                        'Error!',
                        'Ocurrió un error al registrar: ' + xhr.responseText,
                        'error'
                    );
                }
            });
        });

    });

</script>