<!DOCTYPE html>
<html lang="en">

<head th:replace="layout/head :: head"></head>

<body>
  <div class="loader"></div>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <nav th:replace="layout/navbar :: navbar"></nav>
      <div th:replace="layout/sidebar :: sidebar"></div>

      <!-- Main Content -->
      <div class="main-content">
        <section class="section">

          <div id="tablaRegistro"></div>
        </section>
      </div>
      <footer th:replace="layout/footer :: footer">
      </footer>
    </div>
  </div>
  <div th:replace="layout/script :: script">
  </div>
  <!-- Modal Formulario -->
  <div class="modal fade modal-usuario" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" id="contenidoFormularioModal">

      </div>
    </div>
  </div>
  <!-- Modal Ver Archivo -->
  <!-- <div class="modal fade modal-ver-documento" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" id="contenidoArchivoModal">

      </div>
    </div>
  </div> -->
  <script>
    cargarTabla();

    function cargarFormulari() {
      $.ajax({
        type: 'GET',
        url: "/usuario/formularioM",  // Ruta del metodo del controlador en Spring Boot
        success: function (response) {
          $("#contenidoFormularioModal").html(response);  // Actualiza el contenido del div con la respuesta del servidor
        }
      });
    }


    function cargarFormulario(id) {
      $.ajax({
        type: 'POST',
        url: "/usuario/formulario/" + id,  // Ruta del metodo del controlador en Spring Boot
        success: function (response) {
          $("#contenidoFormularioModal").html(response);  // Actualiza el contenido del div con la respuesta del servidor
        }
      });
    }

    function cargarTabla() {
      $.ajax({
        type: 'POST',
        url: "/usuario/tablaRegistros",  // Ruta del metodo del controlador en Spring Boot
        success: function (response) {
          $("#tablaRegistro").html(response);  // Actualiza el contenido del div con la respuesta del servidor
        }
      });
    }

    function actualizarPersonas() {
      // Mostrar el Swal de "actualizando"
      Swal.fire({
          title: 'Actualizando...',
          text: 'Por favor, espere mientras se actualizan los datos.',
          allowOutsideClick: false,
          didOpen: () => {
              Swal.showLoading();  // Muestra un spinner de carga
          }
      });
  
      $.ajax({
          type: 'POST',
          url: "/actualizarPersonas",  // Ruta del método del controlador en Spring Boot
          success: function (response) {
              // Cerrar el Swal de "actualizando"
              Swal.close();
              cargarTabla();
              // Mostrar Swal de "actualización exitosa"
              Swal.fire({
                  icon: 'success',
                  title: 'Actualización exitosa',
                  text: 'Los datos han sido actualizados correctamente.'
              });
          },
          error: function (error) {
              // Cerrar el Swal de "actualizando"
              Swal.close();
  
              // Mostrar Swal de "error"
              Swal.fire({
                  icon: 'error',
                  title: 'Error',
                  text: 'Ocurrió un error al intentar actualizar los datos.'
              });
          }
      });
  }

  </script>
</body>

</html>