<!-- Modal Header -->
<div class="modal-header">
    <h5 class="modal-title" id="myLargeModalLabel">Formulario Registro</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<!-- Formulario -->
<form class="needs-validation" th:action="${edit}? @{/usuario/modificar}: @{/usuario/registrar}"
    id="formularioModalUsuario" enctype="multipart/form-data" method="POST" novalidate>

    <div class="modal-body">
        <th:block th:if="${edit != null}">
            <input type="hidden" th:field="${usuario.id_usuario}">
        </th:block>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Cite</label>
                <input type="text" class="form-control" required="" th:field="${documento.cite}">
                <div class="invalid-feedback">
                    Tiene que introducir un cite valido
                </div>
            </div>
            <div class="form-group col-md-6">
                <label>Nro. Hoja Ruta</label>
                <input type="text" class="form-control" required="" th:field="${documento.nroRuta}" id="nroHojaRuta">
                <div class="invalid-feedback">
                    Tiene que introducir un numero de hoja de ruta
                </div>
                <div id="alertaValidacionNroRuta"></div>
            </div>
        </div>
        <div class="form-group mb-0">
            <label>Asunto</label>
            <textarea class="form-control" required="" th:field="${documento.asunto}"></textarea>
            <div class="invalid-feedback">
                Introduzca el asunto del documento
            </div>
        </div>
        <br>
        <div class="form-group">
            <label>Adjuntar Documento</label>
            <input type="file" class="form-control" th:if="${edit == null}" required="" id="inputFile" name="file"
                accept="application/pdf">
            <input type="file" class="form-control" th:if="${edit != null}" id="inputFile" name="file"
                accept="application/pdf">
            <div class="invalid-feedback">
                Debe adjuntar el documento escaneado en PDF
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" th:text="${edit}? 'Guardar Cambios': 'Guardar'"
            id="botonEnviar">Guardar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
    </div>
</form>

<script>

    $(document).ready(function () {
        $('#formularioModalDocumento').on('submit', function (event) {
            event.preventDefault(); // Previene el envío del formulario

            //Verifica la validez del formulario
            if (this.checkValidity() === false) {
                $(this).addClass('was-validated');
                return;
            }

            var form = $(this)[0];
            var formData = new FormData(form);

            $.ajax({
                type: 'POST',
                url: $(this).attr('action'),
                data: formData,
                contentType: false,  // No establecer el tipo de contenido aquí
                processData: false,  // No procesar los datos
                success: function (response) {
                    if (response === "Registrado" || response === "Modificado") {
                        Swal.fire(
                            'Registrado!',
                            response,
                            'success'
                        );
                        cargarTabla();
                    } else {
                        Swal.fire(
                            'Imposible Registrar!',
                            response,
                            'error'
                        );
                    }
                },
                error: function (xhr, status, error) {
                    Swal.fire(
                        'Error!',
                        'Ocurrió un error al registrar: ' + xhr.responseText,
                        'error'
                    );
                }
            });
        });

        $('#inputFile').on('change', function (event) {
            const fileInput = event.target;

            // Obtener el archivo seleccionado
            const file = fileInput.files[0];

            if (file.type != 'application/pdf') {
                $('#formularioModalDocumento').addClass('was-validated');
                fileInput.value = ''; // Limpiar el input si el archivo no es PDF
            }
        });

        var inputElement = document.getElementById('nroHojaRuta');

        // Variable para verificar si el campo ya ha sido seleccionado
        var hasBeenFocused = false;

        // Añade un event listener para el evento 'focus'
        inputElement.addEventListener('focus', function () {
            // Marca el campo como enfocado
            hasBeenFocused = true;
        });

        var submitButton = document.getElementById('botonEnviar');
        // Añade un event listener para el evento 'input'
        inputElement.addEventListener('input', function (event) {
            // Solo ejecuta el código si el campo ha sido enfocado previamente
            if (hasBeenFocused) {
                console.log('Valor actual:', event.target.value);
                $.ajax({
                    type: 'POST',
                    url: "/documento/validarDocumento/" + event.target.value,  // Ruta del metodo del controlador en Spring Boot
                    success: function (response) {
                        if (response === "valido") {

                            $('#alertaValidacionNroRuta').html(`<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Valido!</strong> EL numero de hoja de ruta es valido.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
`);
                            submitButton.disabled = false;
                        } else {
                            $('#alertaValidacionNroRuta').html(`<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Invalido!</strong> EL numero de hoja de ruta no es valido.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
`);
                            submitButton.disabled = true;
                        }
                    }
                });
                // Puedes realizar otras acciones aquí, como validar el input
                if (event.target.value.trim() === '') {
                    console.log('El campo está vacío');
                } else {
                    console.log('El campo tiene un valor');
                }
            }
        });

    });

</script>