<div class="section-body">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <h4>Gestión de Usuarios</h4>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".modal-usuario"
                        onclick="cargarFormulari()">Registrar Usuario</button>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover" id="table-1">
                            <thead>
                                <tr>
                                    <th class="text-center">
                                        #
                                    </th>
                                    <th>Nombre de Usuario</th>
                                    <th>Contraseña</th>
                                    <th>Rol</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="usu, rowStat: ${usuarios}">
                                    <td th:text="${rowStat.count}"></td>
                                    <td th:text="${usu.usuario_nom}"></td>
                                    <td th:text="${usu.contrasena}"></td>
                                    <td th:text="${usu.estado}"></td>
                                    <td>
                                        <a href="#" class="btn btn-icon icon-left btn-primary" 
                                        th:attr="onclick='cargarFormulario(\'' + ${usu.id_usuario} + '\')'"
                                        data-toggle="modal" data-target=".modal-usuario">
                                            <i class="far fa-edit"></i>Editar</a>
                                        <!-- <a href="#" class="btn btn-icon icon-left btn-success"
                                        th:attr="onclick='verDocumento(\'' + ${doc.id_documento} + '\')'"
                                        data-toggle="modal" data-target=".modal-documento">
                                        <i class="far fa-file-archive"></i>Ver</a> -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#table-1').DataTable({
            language: {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            }
        });

    });
</script>