<!DOCTYPE html>
<html lang="en">

<head th:replace="layout/head :: head"></head>

<body>
  <div class="loader"></div>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <nav th:replace="layout/navbar :: navbar"></nav>
      <div th:replace="layout/sidebar :: sidebar"></div>

      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div id="tablaRegistro"></div>
        </section>
      </div>


      <footer th:replace="layout/footer :: footer">
      </footer>
    </div>
  </div>
  <div th:replace="layout/script :: script">
  </div>
  <!-- Modal Formulario -->
  <div class="modal fade modal-horaRuta" id="documendoModal" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg pullDown" style="max-width: 85%; width: 150%;">
      <div class="modal-content" id="contenidoFormularioModal">

      </div>
    </div>
  </div>
  <div class="modal fade modal-horaRutaEdit" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg pullDown">
      <div class="modal-content" id="contenidoFormularioModalEdit">

      </div>
    </div>
  </div>

  <!-- Modal Formulario -->
  <div class="modal fade modal-horaRutaExterno" id="firstModal" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg pullDown" style="max-width: 85%; width: 150%;">
      <div class="modal-content" id="contenidoFormularioExternoModal">

      </div>
    </div>
  </div>



  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Ingrese Nombre Responsable Externo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form th:action="@{/entidadExterna/entidadExternaForm}" id="formEntidadExterna" method="post">
          <div class="modal-body">

            <div class="form-group col-md-12">
              <label>Seleccione Tipo de Externo</label>
              <select class="form-control select2" style="width: 100%" name="tipo_externo" id="tipo_externo"
                onchange="CargarTipoExterno()" required>
                <option value="" selected disabled>Seleccione...</option>
                <option value="1">Persona</option>
                <option value="2">Empresa o Entidad</option>
              </select>
              <div class="invalid-feedback">
                Tiene que seleccionar una instrucción
              </div>
            </div>

            <div class="form-group col-md-12" id="nombre_externo">
              <input type="hidden" name="id_entidad_externa" id="id_entidad_externa">
              <input type="text" class="form-control" id="nom_externo" name="nom_externo" placeholder="Nombre" required>
              <div class="invalid-feedback">
                Tiene que introducir Nombre
              </div>
            </div>
            <div class="form-group col-md-12" id="cargo_externo">
              <input type="text" class="form-control" id="cargo" name="cargo" placeholder="Cargo" required>
              <div class="invalid-feedback">
                Tiene que introducir Cargo
              </div>
            </div>

          </div>
          <div class="modal-footer bg-whitesmoke br">
            <button type="submit" class="btn btn-primary">GUARDAR</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">CERRAR</button>
          </div>
        </form>
      </div>
    </div>
  </div>


  </div>

  <script>
    $(document).ready(function () {
      cargarTabla();
      $("#nombre_externo").hide();
      $("#cargo_externo").hide();
      $('#formEntidadExterna').on('submit', function (event) {
        event.preventDefault(); // Previene el envío del formulario

        //Verifica la validez del formulario
        if (this.checkValidity() === false) {
          $(this).addClass('was-validated');
          return;
        }

        var form = $(this)[0];
        var formData = new FormData(form);

        $.ajax({
          type: 'POST',
          url: $(this).attr('action'),
          data: formData,
          contentType: false,  // No establecer el tipo de contenido aquí
          processData: false,  // No procesar los datos
          success: function (response) {
            if (response === "ok") {

              Swal.fire(
                'Exito!',
                'Entidad Externa Registrado con Exito!',
                'success'
              );
              cargarEntidadExternos($('#nom_externo').val());
              cargarTabla();
              $('#nom_externo').val('');
              $('#cargo').val('');
              $('#exampleModalCenter').modal('hide');
            } else if (response === "invalido") {
              Swal.fire(
                'Imposible Registrar!',
                'Ya existe un registro con este nombre.',
                'error'
              );
            } else {
              Swal.fire(
                'Imposible Registrar!',
                response,
                'error'
              );
            }
          },
          error: function (xhr, status, error) {
            Swal.fire(
              'Error!',
              'Ocurrió un error al registrar: ' + xhr.responseText,
              'error'
            );
          }
        });
      });
    });

    function cargarFormulari() {
      $.ajax({
        type: 'GET',
        url: "/hojaRuta/formulario",  // Ruta del metodo del controlador en Spring Boot
        success: function (response) {
          $("#contenidoFormularioModalEdit").html("");
          $("#contenidoFormularioExternoModal").html("");
          $("#contenidoFormularioModal").html(response);
          // Inicializar Select2 en el modal
          $('.select2').select2({
            dropdownParent: $('#formularioModalhojaRuta')  // Especificar el parent para el dropdown
          }); // Actualiza el contenido del div con la respuesta del servidor
        }
      });
    }
    function cargarFormulariExterno() {
      $.ajax({
        type: 'GET',
        url: "/hojaRuta/formulario_externo",  // Ruta del metodo del controlador en Spring Boot
        success: function (response) {
          $("#contenidoFormularioModal").html("");
          $("#contenidoFormularioModalEdit").html("");
          $("#contenidoFormularioExternoModal").html(response);
          // Inicializar Select2 en el modal
          $('.select2').select2({
            dropdownParent: $('#formularioModalhojaRutaExterna')  // Especificar el parent para el dropdown
          }); // Actualiza el contenido del div con la respuesta del servidor
        }
      });
    }


    function cargarFormulario(id, tipoDerivacion) {
      $.ajax({
        type: 'POST',
        url: "/hojaRuta/formulario/" + id + "/" + tipoDerivacion,  // Ruta del metodo del controlador en Spring Boot
        success: function (response) {
          $("#contenidoFormularioModal").html("");
          $("#contenidoFormularioExternoModal").html(""); // Actualiza el contenido del div con la respuesta del servidor
          $("#contenidoFormularioModalEdit").html(response);
          if (tipoDerivacion === "Interno") {
            $('.select2').select2({
              dropdownParent: $('#formularioModalhojaRuta')  // Especificar el parent para el dropdown
            }); // Actualiza el contenido del div con la respuesta del servidor  
          } else if (tipoDerivacion === "Externo") {
            $('.select2').select2({
              dropdownParent: $('#formularioModalhojaRutaExterna')  // Especificar el parent para el dropdown
            }); // Actualiza el contenido del div con la respuesta del servidor
          }

        }
      });
    }


    function cargarTabla() {
      $.ajax({
        type: 'POST',
        url: "/hojaRuta/tablaRegistros",  // Ruta del metodo del controlador en Spring Boot
        success: function (response) {
          $("#tablaRegistro").html(response);  // Actualiza el contenido del div con la respuesta del servidor
        }
      });
    }

    function verDocumento(id) {
      // Mostrar SweetAlert de carga
      Swal.fire({
        title: 'Cargando documento...',
        text: 'Por favor, espere un momento',
        icon: 'info',
        showConfirmButton: false,
        allowOutsideClick: false
      });

      // Hacer una solicitud AJAX para obtener el PDF
      $.ajax({
        url: `/hojaRuta/verDocumento/${id}`,
        type: 'GET',
        success: function (response, status, xhr) {
          // Solo si la respuesta es PDF, mostrarla en el modal
          if (xhr.getResponseHeader('Content-Type') === 'application/pdf') {
            $('#contenidoFormularioModal').html(
              `<!-- Modal Header -->
                    <div class="modal-header">
                        <h5 class="modal-title" id="myLargeModalLabel">Visualización de Documento</h5>
                        <a type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </a>
                    </div>
                    <div class="modal-body">
                        <embed src="/hojaRuta/verDocumento/${id}" type="application/pdf" frameborder="0" style="height: 600px; width: 100%;"></embed>
                    </div>`
            );
            Swal.close(); // Cerrar el SweetAlert de carga
          } else {
            // Si no es un PDF, mostrar error
            Swal.fire({
              title: 'Error',
              text: 'El archivo no es un documento PDF válido.',
              icon: 'error',
              confirmButtonText: 'Aceptar'
            });
          }
        },
        error: function (xhr) {
          // Mostrar error si el archivo no es un PDF o ocurrió otro error
          if (xhr.status === 400) {
            Swal.fire({
              title: 'Error',
              text: xhr.responseText, // Mensaje de error devuelto por el servidor
              icon: 'error',
              confirmButtonText: 'Aceptar'
            }).then(() => {
              $('#documendoModal').modal('hide');
            });
          } else {
            Swal.fire({
              title: 'Error inesperado',
              text: 'No se pudo cargar el documento.',
              icon: 'error',
              confirmButtonText: 'Aceptar'
            });
          }
        }
      });
    }

    function CargarTipoExterno() {
      var tipo = $('#tipo_externo').val();

      if (tipo == 1) {
        $("#nombre_externo").show();
        $("#cargo_externo").show();

        $('#nom_externo').prop('disabled', false);
        $('#cargo').prop('disabled', false);
      } else {
        $("#nombre_externo").show();
        $("#cargo_externo").hide();

        $('#nom_externo').prop('disabled', false);
        $('#cargo').prop('disabled', true);
      }
    }

    function CargarResponsablesDeUnidad() {

      var id_unidad_session = $('#id_unidad_session').val();
      var id_unidad = $('#id_unidad_destino').val();
      if (id_unidad_session == id_unidad) {

        $("#usuarios_unidad").show();

        $.ajax({
          type: 'POST',
          url: "/cargarSelectUsuarios/" + id_unidad,  // Ruta del método del controlador en Spring Boot
          success: function (response) {

            // Obtener el elemento <select> con id "selectUsuarios"
            const selectUsuarios = $('#usuarios');
            selectUsuarios.empty();  // Limpiar las opciones existentes

            // Iterar sobre cada array en la respuesta
            response.forEach(user => {
              // user es un array de dos elementos: [id, nombreCompleto]
              const option = $('<option></option>')
                .val(user[0])  // El valor del option es el ID del usuario
                .text(user[1]);  // El texto del option es el nombre completo del usuario

              // Agregar la opción al <select>
              selectUsuarios.append(option);
            });
          },
          error: function (xhr, status, error) {
            console.error('Hubo un problema con la solicitud AJAX:', status, error);
          }
        });

      } else {
        $("#usuarios_unidad").hide();
      }

    }

  </script>

</body>

</html>