<section class="section">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <!-- <div class="card-header">
                    <h4>Flujo del Documento</h4>
                </div> -->
                <div class="card-body">
                    <div class="section-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table class="table table-sm table-hover ">
                                        <thead>
                                          <tr>
                                            <th scope="col" colspan="2" class="text-center" th:text="${'DETALLE DEL DOCUMENTO'}"></th>
                                            <th scope="col" colspan="1" class="text-center" > 
                                                <button class="btn btn-info" th:attr="onclick='generarHojaRuta(\'' + ${hojaDeRuta.id_hoja_ruta} + '\')'">Generar</button>
                                            </th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr th:if="${interno}">
                                            <th scope="row"  style="text-align: right; width: 20%;">Procedencia Unidad Funcional :</th>
                                            <td th:text="${usuario_emisor.persona.nombre}+ ' '+${usuario_emisor.persona.ap_paterno}+ ' '+${usuario_emisor.persona.ap_materno}">Mark</td>
                                          </tr>
                                          <tr th:if="${externo}">
                                            <th scope="row"  style="text-align: right; width: 20%;">Procedencia Unidad Funcional :</th>
                                            <td th:text="${usuario_emisor}">Mark</td>
                                          </tr>
                                          <tr th:if="${interno}">
                                            <th scope="row"  style="text-align: right; width: 20%;">Cargo del emisor :</th>
                                            <td th:text="${usuario_emisor.persona.cargo.nombre}">Mark</td>
                                          </tr>
                                          <tr>
                                            <th scope="row" style="text-align: right;">Referencia :</th>
                                            <td th:text="${hojaDeRuta.ref}">Jacob</td>
                                          </tr>
                                          <tr>
                                            <th scope="row" style="text-align: right;">Fecha de Emisión :</th>
                                            <td th:text="${#dates.format(hojaDeRuta.fechaCreacion, 'dd/MM/yyyy hh:mm a')}">Jacob</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                </div>
                            </div>
                            <br>
                            <div class="col-12">
                                <h1 class="section-title">Movimientos del Documento</h1>
                                <div class="activities">
                                    <th:block th:each="f : ${flujo}">
                                        <div class="activity" >
                                            <div class="activity-icon bg-primary text-white">
                                                <i class="far fa-file-alt" style="font-size: 20px;"></i>
                                            </div>
                                            <div class="activity-detail" style="width: 90%;">
                                                <div class="mb-2">
                                                    <span class="text-job" style="font-size: larger;" th:text="${#dates.format(f.fechaHoraRegistro, 'dd/MM/yyyy hh:mm a')}"></span>
                                                    <!-- <span class="bullet"></span> -->
                                                    <!-- <a class="text-job" href="#">View</a> -->
                                                    <div class="float-right dropdown">
                                                        <a href="#" data-toggle="dropdown"><i class="fas fa-ellipsis-h"></i></a>
                                                        <div class="dropdown-menu">
                                                            <div class="dropdown-title">Opciones</div>
                                                            <a href="#" class="dropdown-item has-icon" type="button" 
                                                                th:attr="onclick='verDocumentoFlujo(\'' + ${f.id_movimiento_documento} + '\')'"><i class="fas fa-eye"></i> Ver</a>
                                                            <!-- <a href="#" class="dropdown-item has-icon"><i class="fas fa-list"></i> Detail</a> -->
                                                            <!-- <div class="dropdown-divider"></div> -->
                                                            <!-- <a href="#" class="dropdown-item has-icon text-danger"
                                                                data-confirm="Wait, wait, wait...|This action can't be undone. Want to take risks?"
                                                                data-confirm-text-yes="Yes, IDC"><i class="fas fa-trash-alt"></i> Archive</a> -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- <p >Moved the task "<a href="#">Fix some features that are bugs in the
                                                        master module</a>" from
                                                    Progress to Finish.</p> -->
                                                <div class="col-12 ">
                                                    <div class="card l-bg-cyan" style="margin-bottom: 5px;">
                                                        <div class="card-statistic-3">
                                                            <div class="card-icon card-icon-large"><i class="fas fa-file-import" style="font-size: 100px;" ></i></div>
                                                            <div class="card-content" >
                                                                <h5 class="card-title">Observacion del Documento</h5>
                                                                <p style="color: white;"><span th:text="${f.observaciones}">1,258</span></p>
                                                                <p style="color: white;"><b>Instruccion: </b> <span style="color: white;" th:text="${f.instruccion}">1,258</span></p>

                                                                <p class="mb-0 text-sm" style="color: white;">
                                                                    <span class="mr-2"><i class="fas fa-file"></i> <b>Origen:</b></span>
                                                                    <span class="text-nowrap" th:text="${f.unidadOrigen.nombre}">Since last month</span>
                                                                </p>
                                                                <p class="mb-0 text-sm" style="color: white;">
                                                                    <span class="mr-2"><i class="fas fa-file-export"></i> <b>Destino:</b></span>
                                                                    <span class="text-nowrap" th:text="${f.unidadDestino.nombre}">Since last month</span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </th:block>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>