<!DOCTYPE html>
<html lang="en">

<head th:replace="layout/head :: head"></head>

<body>
    <div class="loader"></div>
    <div id="app">
        <div class="main-wrapper main-wrapper-1">

            <nav th:replace="layout/navbar :: navbar">

            </nav>

            <div th:replace="layout/sidebar :: sidebar">

            </div>

            <!-- Main Content -->
            <div class="main-content">
                <section class="section">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4>Búsqueda de Documento</h4>
                                </div>
                                <div class="card-body">
                                    <div class="row mb-4">
                                        <div class="col-4 col-12 col-md-6 col-lg-4">
                                            <div class="input-group">
                                                <input type="text" id="nroRuta" class="form-control" placeholder="Ingrese Numero de Hoja de Ruta">
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary" onclick="cargarFlujo(document.getElementById('nroRuta').value)">Buscar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="flujoDocumento">
                    
                </section>

            </div>
            <footer th:replace="layout/footer :: footer">
            </footer>

        </div>
    </div>
    <div th:replace="layout/script :: script">
    </div>
    <script>

        function cargarFlujo(nroRuta) {
        $.ajax({
          type: 'POST',
          url: "/seguimiento/buscar_documento/"+nroRuta,  // Ruta del metodo del controlador en Spring Boot
          success: function (response) {
            $("#flujoDocumento").html(response);  // Actualiza el contenido del div con la respuesta del servidor
          }
        });
      }
    </script>
</body>

</html>