<form th:action="@{/regMovimientoHojaRutaNotificacion}" id="regMovimientoFormulario2" enctype="multipart/form-data"
  method="POST" novalidate>
  <div class="modal-body">
    <div class="alert alert-light alert-has-icon d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center">
        <!-- Icono -->
        <div class="alert-icon">
          <i class="far fa-lightbulb"></i>
        </div>
        <!-- Texto -->
        <div class="alert-body">
          <div class="alert-title" th:text="${md.hojaRuta.ref}"></div>
        </div>
      </div>
      
      <!-- Botón al final -->
      <button class="btn btn-icon icon-left btn-success" type="button" data-toggle="modal" data-target="#documentoPDF"
        th:attr="onclick='VerDocumentoHojaDeRuta(\'' + ${md.hojaRuta.id_hoja_ruta} + '\')'">
        <i class="fas fa-eye"></i> Ver Documento
      </button>
    </div>
    <input type="hidden" th:field="${hojaRuta.id_hoja_ruta}">
    <input type="hidden" th:field="${md.id_movimiento_documento}">

    <div class="row">
      <div class="form-group col-md-6">
        <label>Instrucción</label>
        <select class="form-control select2" style="width: 100%" name="instruccion" id="instruccion" onchange="Archivar()" required>
          <option value="" selected disabled>Seleccionar una Instrucción...</option>
          <option value="Informar">Informar</option>
          <option value="Contestar">Contestar</option>
          <option value="Tomar nota">Tomar nota</option>
          <option value="Dar curso">Dar curso</option>
          <option value="Coordinar">Coordinar</option>
          <option value="Archivar">Archivar</option>
          <option value="Otro">Otro</option>
        </select>
        <div class="invalid-feedback">
          Tiene que seleccionar una instrucción
        </div>
      </div>

      <div class="form-group col-md-6">
        <label>Proveido</label>
        <textarea class="form-control" name="observacion" required></textarea>
        <div class="invalid-feedback">
          Introduzca el asunto del documento
        </div>
      </div>

      <div class="form-group col-md-6" id="unidad_destino">
        <label>Unidad Destino</label>
        <select class="form-control select2" style="width: 100%;" name="id_unidad_destino" id="idUnidadDestino"
          onchange="cargarSelectUsuario()" required>
          <option value="" selected disabled>Seleccione...</option>
          <option th:each="u : ${unidades}" th:text="${u.nombre}" th:value="${u.id_unidad}"
            th:selected="${u.id_unidad == idUnidad}">
          </option>
        </select>
        <div class="invalid-feedback">
          Tiene que seleccionar una Unidad Funcional
        </div>
      </div>

      <div class="form-group col-md-6" id="responsable">
        <label>Responsable</label>
        <select class="form-control select2" style="width: 100%;" name="userDestino" id="selectUsuarios3" required>
          <option th:value="${edit}? ${idResponsable}: ''"
            th:text="${edit}? ${nombreResponsable}:'Seleccione una Persona...'" selected>
          </option>
        </select>
        <div class="invalid-feedback">
          Tiene que seleccionar un Responsable
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Adjuntar Documento</label>
      <input type="file" class="dropzone-pdf" name="file" id="inputFile" accept="application/pdf">
      <div class="invalid-feedback">
        Debe adjuntar el documento escaneado en PDF o Imagen
      </div>
      <div id="alertaInputFile"></div>
      <div id="previsualizacionDoc"></div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" id="submitButton" class="btn btn-primary">Confirmar Recepción</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
  </div>
</form>

<script>
  $(document).ready(function () {
    // Inicializar Select2 para todos los elementos con la clase select2
    $('.select2').select2();

    $('#regMovimientoFormulario2').submit(function (event) {
      var form = this;

      // Si el formulario es inválido, detener el envío
      if (!form.checkValidity()) {
        event.preventDefault();
        event.stopPropagation();
        form.classList.add('was-validated'); // Añade clases de validación de Bootstrap para mostrar los mensajes
      } else {
        // Proceder con el envío si es válido
        event.preventDefault();
        var formData = new FormData(form);

        $.ajax({
          type: 'POST',
          url: $(form).attr('action'),
          data: formData,
          contentType: false,
          processData: false,
          success: function (response) {
            console.log("Respuesta del servidor:", response);
            // Cerrar los modales
            $('#formulario_Solicitud').modal('hide');
            $('#ModalSolitudesHojasDeRuta').modal('hide');

            // Mostrar éxito
            Swal.fire({
              title: 'Operación exitosa',
              text: response,
              icon: 'success',
              confirmButtonText: 'OK'
            }).then((result) => {
              if (result.isConfirmed) {
                window.location.href = '/Correspondencia';
              }
            });
          },
          error: function (xhr, status, error) {
            console.error("Error en la solicitud:", status, error);
            Swal.fire({
              title: 'Error',
              text: 'Hubo un problema al procesar la solicitud: ' + xhr.responseText,
              icon: 'error',
              confirmButtonText: 'OK'
            });
          }
        });
      }
    });

    $('.dropzone-pdf').bs_dropzone({
      boxClass: 'alert p-5 text-center font-weight-bold',
      noneColorClass: 'alert-info border-info',
      dragColorClass: 'alert-warning border-warning',
      doneColorClass: 'alert-success border-success',
      failColorClass: 'alert-danger border-danger'
    });

    // Validación de archivo PDF
    $('#inputFile').on('change', function (event) {
      const fileInput = event.target;
      const file = fileInput.files[0];

      if (file.type !== 'application/pdf') {
        $('#alertaInputFile').html(`
       <div class="alert alert-danger alert-dismissible show fade">
         <div class="alert-body">
           <button class="close" data-dismiss="alert">
             <span>&times;</span>
           </button>
           Solo se admiten archivos tipo PDF, el archivo cargado no se registrará.
         </div>
       </div>`);
        fileInput.value = null;
        $('#previsualizacionDoc').html("");
        $('#regMovimientoFormulario').addClass('was-validated');
      } else {
        $('#previsualizacionDoc').html(`
       <div class="row d-flex justify-content-center">
         <div id="pdf-preview"></div>
       </div>`);

        const reader = new FileReader();
        reader.onload = function (e) {
          const typedarray = new Uint8Array(e.target.result);

          pdfjsLib.getDocument(typedarray).promise.then(pdf => {
            pdf.getPage(1).then(page => {
              const scale = 0.3;
              const viewport = page.getViewport({ scale });

              // Limpiar el contenedor antes de agregar una nueva previsualización
              $('#pdf-preview').empty();

              const canvas = document.createElement('canvas');
              const context = canvas.getContext('2d');
              canvas.height = viewport.height;
              canvas.width = viewport.width;

              $('#pdf-preview').append(canvas);

              // Renderizar la página del PDF en el contexto del canvas
              const renderContext = {
                canvasContext: context,
                viewport: viewport
              };
              page.render(renderContext);
            });
          });
        };
        reader.readAsArrayBuffer(file);

        $('#alertaInputFile').html(`
        <div class="alert alert-success alert-dismissible show fade">
          <div class="alert-body">
            <button class="close" data-dismiss="alert">
              <span>&times;</span>
            </button>
          El archivo subido es válido.
          </div>
        </div>`);
      }
    });


  });
</script>

<style>
  #pdf-preview {
    width: 187px;
    height: 245px;
    border: 1px solid #ddd;
  }
</style>